* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body .container {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 24em;
  gap: 1rem;
  margin-bottom: 30rem;
}

input,
select,
textarea {
  padding: 1.4rem;
  background: transparent;
  border: 1px solid black;
}

textarea {
  height: 15rem;
}

button {
  width: 8rem;
  padding: 1.4rem;
  cursor: pointer;
  background: #673de6;
  color: white;
}

button:hover {
  background-color: blueviolet;
}

nav {
  display: flex;
  justify-content: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
}

header {
  background-color: rgb(0, 158, 16);
  padding: 10px;
  text-align: Left;
}
header h1 {
  color: white;
  margin: 0;
}
footer {
  text-align: center;
  background-color: rgba(0, 158, 16, 1);
  color: #fff;
  padding: 0.5rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}
